<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout.html}" lang="en">

<section layout:fragment="content" th:object="${urlModel}">
    <div class="container-lg mt-5">
        <h1 class="text-light bg-dark text-center">
            <span>Website [</span>
            <span th:if="*{#strings.startsWith(getName(), 'https://www.')}">
                <span th:text="*{#strings.substringAfter(getName(), 'https://www.')}"></span>
            </span>
            <span th:unless="*{#strings.startsWith(getName(), 'https://www.')}">
                <span th:text="*{#strings.substringAfter(getName(), 'https://')}"></span>
            </span>
            <span>]</span>
        </h1>

        <table class="table table-bordered table-hover mt-3">
            <tbody>
                <tr>
                    <td>ID</td>
                    <td th:text="*{getId()}"></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td th:text="*{getName()}"></td>
                </tr>
                <tr>
                    <td>Added</td>
                    <td th:text="*{#temporals.format(getCreatedAt(), 'dd/MM/yyyy HH:mm')}"></td>
                </tr>
            </tbody>
        </table>
        <h2 class="mt-5">Verifications</h2>
        <form
                method="post"
                th:action="@{/urls/} + ${urlModel.getId()} + @{/check}"
        >
            <button type="submit" class="btn btn-primary bg-dark" style="border-color:rgba(255,255,255,0.75)">
              Verify
            </button>
        </form>

      <table class="table table-bordered table-hover mt-3">
          <thead>
              <th class="col-1">ID</th>
              <th class="col-1">Response</th>
              <th>title</th>
              <th>h1</th>
              <th>description</th>
              <th class="col-2">Verification date</th>
          </thead>
          <tbody>
          <tr th:each="urlCheckModel: ${#lists.sort(urlModel.getUrlChecks())}">
              <td th:text="${urlCheckModel.getId()}"></td>
              <td th:text="${urlCheckModel.getStatusCode()}"></td>
              <td th:text="${#strings.abbreviate(urlCheckModel.getTitle(), 50)}"></td>
              <td th:text="${#strings.abbreviate(urlCheckModel.getH1(), 50)}"></td>
              <td th:text="${#strings.abbreviate(urlCheckModel.getDescription(), 50)}"></td>
              <td th:text="${#temporals.format(urlCheckModel.getCreatedAt(), 'dd/MM/yyyy HH:mm')}"></td>
          </tr>
          </tbody>
      </table>
    </div>
</section>
</html>
