<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout.html}" lang="en">

    <section layout:fragment="header-mainpage">
        <div class="container-fluid bg-dark p-5">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-white">
                    <h1 class="display-3 mb-0">Page analyzer</h1>
                    <p class="lead">Free website SEO checker</p>
                    <form action="/urls" method="post" class="rss-form text-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-floating">
                                    <input
                                            id="url-input"
                                            autofocus
                                            type="text"
                                            required
                                            name="url"
                                            aria-label="url"
                                            class="form-control w-100"
                                            placeholder="ссылка RSS"
                                            autocomplete="off"
                                    />
                                    <label for="url-input">Website link</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button
                                        type="submit"
                                        class="h-100 btn btn-lg btn-primary px-sm-5 bg-dark"
                                        style="border-color:rgba(255,255,255,0.75)"
                                >
                                    Check
                                </button>
                            </div>
                        </div>
                    </form>
                    <p class="mt-2 mb-0 text-muted">Example: https://www.example.com</p>
                </div>
            </div>
        </div>
    </section>

<!--</main>-->

<!--<footer class="footer border-top py-3 mt-5 bg-light">-->
<!--    <div class="container-xl">-->
<!--        <div class="text-center">-->
<!--            created by-->
<!--            <a href="https://ru.hexlet.io" target="_blank">Hexlet</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!--</body>-->
</html>
